## 0. Load imports

In [1]:
## imports
import pandas as pd
import numpy as np


# ## print multiple things from same cell
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [2]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27933 entries, 0 to 27932
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27933 non-null  float64
 1   Y                     27933 non-null  float64
 2   CCN                   27933 non-null  int64
 3   REPORT_DAT            27933 non-null  object
 4   SHIFT                 27933 non-null  object
 5   METHOD                27933 non-null  object
 6   OFFENSE               27933 non-null  object
 7   BLOCK                 27933 non-null  object
 8   XBLOCK                27933 non-null  float64
 9   YBLOCK                27933 non-null  float64
 10  WARD                  27933 non-null  int64
 11  ANC                   27933 non-null  object
 12  DISTRICT              27904 non-null  float64
 13  PSA                   27898 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27933 non-null  object
 15  BLOCK_GROUP           27932 non-null  object
 16  CENSUS_TRACT          27932 non-null  float64
 17  VOTING_PRECINCT       27933 non-null  object
 18  LATITUDE              27933 non-null  float64
 19  LONGITUDE             27933 non-null  float64
 20  BID                   4657 non-null   object
 21  START_DATE            27932 non-null  object
 22  END_DATE              24851 non-null  object
 23  OBJECTID              27933 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

In [3]:
df.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID', 'OCTO_RECORD_ID'],
      dtype='object')

In [4]:
df.OFFENSE.value_counts()

THEFT/OTHER                   10927
THEFT F/AUTO                   8283
MOTOR VEHICLE THEFT            3260
ROBBERY                        1998
ASSAULT W/DANGEROUS WEAPON     1632
BURGLARY                       1444
HOMICIDE                        198
SEX ABUSE                       178
ARSON                            13
Name: OFFENSE, dtype: int64

In [5]:
df.X.mean()

-77.00705151446995

Hot Keys: tab to autocomplete, shift+tab for documentation

#### Warm-up: Ways to add one to column X
And how to time your code

In [6]:
%%time
df.X + 1

CPU times: user 4.75 ms, sys: 2.77 ms, total: 7.52 ms
Wall time: 8.32 ms

0       -75.993152
1       -76.027043
2       -76.049930
3       -75.992674
4       -76.008394
           ...
27928   -75.949967
27929   -76.042549
27930   -76.072434
27931   -75.990316
27932   -76.021604
Name: X, Length: 27933, dtype: float64

In [7]:
plus_1 = lambda x: x + 1

In [8]:
df.X.apply(plus_1)

0       -75.993152
1       -76.027043
2       -76.049930
3       -75.992674
4       -76.008394
           ...
27928   -75.949967
27929   -76.042549
27930   -76.072434
27931   -75.990316
27932   -76.021604
Name: X, Length: 27933, dtype: float64

In [9]:
def plus_1_v2(x):
    return x + 1

In [10]:
df.X.apply(plus_1_v2)

0       -75.993152
1       -76.027043
2       -76.049930
3       -75.992674
4       -76.008394
           ...
27928   -75.949967
27929   -76.042549
27930   -76.072434
27931   -75.990316
27932   -76.021604
Name: X, Length: 27933, dtype: float64

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [11]:
df.groupby(["WARD"]).agg({"OFFENSE" : "nunique"}).reset_index()

   WARD  OFFENSE
0     1        9
1     2        9
2     3        8
3     4        8
4     5        9
5     6        9
6     7        9
7     8        9

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [12]:
def get_uniq_offs(X):
    uniq_offs = sorted(X.unique())
    uniq_offs = "; ".join(uniq_offs)
    return uniq_offs

In [13]:
df.groupby("WARD").agg(
    {"OFFENSE": ["nunique", get_uniq_offs]}
)

     OFFENSE
     nunique                                      get_uniq_offs
WARD
1          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
2          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
3          8  ASSAULT W/DANGEROUS WEAPON; BURGLARY; HOMICIDE...
4          8  ASSAULT W/DANGEROUS WEAPON; BURGLARY; HOMICIDE...
5          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
6          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
7          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
8          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [14]:
df.groupby(["WARD", "SHIFT"])["OFFENSE"].agg(pd.Series.mode).reset_index()

    WARD     SHIFT                     OFFENSE
0      1       DAY                 THEFT/OTHER
1      1   EVENING                 THEFT/OTHER
2      1  MIDNIGHT                 THEFT/OTHER
3      2       DAY                 THEFT/OTHER
4      2   EVENING                 THEFT/OTHER
5      2  MIDNIGHT                 THEFT/OTHER
6      3       DAY                 THEFT/OTHER
7      3   EVENING                 THEFT/OTHER
8      3  MIDNIGHT                 THEFT/OTHER
9      4       DAY                THEFT F/AUTO
10     4   EVENING                 THEFT/OTHER
11     4  MIDNIGHT                 THEFT/OTHER
12     5       DAY                THEFT F/AUTO
13     5   EVENING                 THEFT/OTHER
14     5  MIDNIGHT                 THEFT/OTHER
15     6       DAY                 THEFT/OTHER
16     6   EVENING                 THEFT/OTHER
17     6  MIDNIGHT                 THEFT/OTHER
18     7       DAY                THEFT F/AUTO
19     7   EVENING                 THEFT/OTHER
20     7  MIDNIGHT                 THEFT/OTHER
21     8       DAY                THEFT F/AUTO
22     8   EVENING                 THEFT/OTHER
23     8  MIDNIGHT  ASSAULT W/DANGEROUS WEAPON

In [15]:
df.groupby(["WARD", "SHIFT"]).agg(
    {
        "OFFENSE": lambda x: x.value_counts().index[0]
    }
).reset_index()

    WARD     SHIFT                     OFFENSE
0      1       DAY                 THEFT/OTHER
1      1   EVENING                 THEFT/OTHER
2      1  MIDNIGHT                 THEFT/OTHER
3      2       DAY                 THEFT/OTHER
4      2   EVENING                 THEFT/OTHER
5      2  MIDNIGHT                 THEFT/OTHER
6      3       DAY                 THEFT/OTHER
7      3   EVENING                 THEFT/OTHER
8      3  MIDNIGHT                 THEFT/OTHER
9      4       DAY                THEFT F/AUTO
10     4   EVENING                 THEFT/OTHER
11     4  MIDNIGHT                 THEFT/OTHER
12     5       DAY                THEFT F/AUTO
13     5   EVENING                 THEFT/OTHER
14     5  MIDNIGHT                 THEFT/OTHER
15     6       DAY                 THEFT/OTHER
16     6   EVENING                 THEFT/OTHER
17     6  MIDNIGHT                 THEFT/OTHER
18     7       DAY                THEFT F/AUTO
19     7   EVENING                 THEFT/OTHER
20     7  MIDNIGHT                 THEFT/OTHER
21     8       DAY                THEFT F/AUTO
22     8   EVENING                 THEFT/OTHER
23     8  MIDNIGHT  ASSAULT W/DANGEROUS WEAPON

In [16]:
for i, ddf in df.groupby(["WARD", "SHIFT"]):
    break

ddf[["WARD", "SHIFT", "OFFENSE"]]
x = ddf.OFFENSE
x = x.value_counts()
x.index[0]

'THEFT/OTHER'

In [17]:
df.groupby(["WARD", "SHIFT"]).agg(
    {
        "OFFENSE": lambda x: x.value_counts().index[0]
    }
)

                                  OFFENSE
WARD SHIFT
1    DAY                      THEFT/OTHER
     EVENING                  THEFT/OTHER
     MIDNIGHT                 THEFT/OTHER
2    DAY                      THEFT/OTHER
     EVENING                  THEFT/OTHER
     MIDNIGHT                 THEFT/OTHER
3    DAY                      THEFT/OTHER
     EVENING                  THEFT/OTHER
     MIDNIGHT                 THEFT/OTHER
4    DAY                     THEFT F/AUTO
     EVENING                  THEFT/OTHER
     MIDNIGHT                 THEFT/OTHER
5    DAY                     THEFT F/AUTO
     EVENING                  THEFT/OTHER
     MIDNIGHT                 THEFT/OTHER
6    DAY                      THEFT/OTHER
     EVENING                  THEFT/OTHER
     MIDNIGHT                 THEFT/OTHER
7    DAY                     THEFT F/AUTO
     EVENING                  THEFT/OTHER
     MIDNIGHT                 THEFT/OTHER
8    DAY                     THEFT F/AUTO
     EVENING                  THEFT/OTHER
     MIDNIGHT  ASSAULT W/DANGEROUS WEAPON

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

In [18]:
df[["LATITUDE", "LONGITUDE"]].apply(np.mean, axis = 0)

LATITUDE     38.907613
LONGITUDE   -77.007049
dtype: float64

## 2. Creating new columns/transforming their type

### Simple filtering

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

In [19]:
df["is_theft"] = df.OFFENSE.str.contains("THEFT")
df["is_theft_notmotor"] = df.OFFENSE.str.contains("THEFT") & ~df.OFFENSE.str.contains("MOTOR")
df.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_notmotor
0,-76.993152,38.922219,20151779,2020/10/23 15:50:21+00,DAY,OTHERS,THEFT/OTHER,900 - 999 BLOCK OF RHODE ISLAND AVENUE NE,400594.0,139371.0,...,Precinct 72,38.922212,-76.993150,NaN,2020/10/23 14:44:29+00,2020/10/23 16:00:32+00,405553805,NaN,True,True
1,-77.027043,38.917559,20142558,2020/10/06 01:40:16+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,2000 - 2099 BLOCK OF 11TH STREET NW,397655.0,138854.0,...,Precinct 22,38.917551,-77.027040,NaN,2020/10/05 23:33:32+00,2020/10/05 23:37:19+00,405554324,NaN,True,False
2,-77.049930,38.914831,20143909,2020/10/08 17:31:39+00,DAY,OTHERS,THEFT F/AUTO,2200 - 2299 BLOCK OF BANCROFT PLACE NW,395670.0,138552.0,...,Precinct 13,38.914823,-77.049927,NaN,2020/10/08 15:50:22+00,2020/10/08 15:55:53+00,405554325,NaN,True,True
3,-76.992674,38.859917,20146720,2020/10/14 01:19:25+00,EVENING,OTHERS,THEFT F/AUTO,2500 - 2599 BLOCK OF SAYLES PLACE SE,400636.0,132455.0,...,Precinct 119,38.859910,-76.992672,NaN,2020/10/12 03:00:51+00,2020/10/12 16:30:05+00,405554326,NaN,True,True
4,-77.008394,38.897203,20092326,2020/06/24 16:37:17+00,DAY,OTHERS,MOTOR VEHICLE THEFT,1 - 99 BLOCK OF MASSACHUSETTS AVENUE NE,399272.0,136594.0,...,Precinct 144,38.897195,-77.008392,CAPITOL HILL,2020/06/08 14:00:26+00,2020/06/24 16:38:00+00,405554339,NaN,True,False

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

In [20]:
off_type = ["violent theft", "violent other"]
conditions = [
    df.OFFENSE.str.contains("THEFT") & df.METHOD.str.contains("GUN|KNIFE"),
    ~df.OFFENSE.str.contains("THEFT") & df.METHOD.str.contains("GUN|KNIFE")
]

df["offense_summary"] = np.select(conditions, off_type, default = "non-violent")
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_notmotor,offense_summary
0,-76.993152,38.922219,20151779,2020/10/23 15:50:21+00,DAY,OTHERS,THEFT/OTHER,900 - 999 BLOCK OF RHODE ISLAND AVENUE NE,400594.00,139371.00,...,38.922212,-76.993150,NaN,2020/10/23 14:44:29+00,2020/10/23 16:00:32+00,405553805,NaN,True,True,non-violent
1,-77.027043,38.917559,20142558,2020/10/06 01:40:16+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,2000 - 2099 BLOCK OF 11TH STREET NW,397655.00,138854.00,...,38.917551,-77.027040,NaN,2020/10/05 23:33:32+00,2020/10/05 23:37:19+00,405554324,NaN,True,False,non-violent
2,-77.049930,38.914831,20143909,2020/10/08 17:31:39+00,DAY,OTHERS,THEFT F/AUTO,2200 - 2299 BLOCK OF BANCROFT PLACE NW,395670.00,138552.00,...,38.914823,-77.049927,NaN,2020/10/08 15:50:22+00,2020/10/08 15:55:53+00,405554325,NaN,True,True,non-violent
3,-76.992674,38.859917,20146720,2020/10/14 01:19:25+00,EVENING,OTHERS,THEFT F/AUTO,2500 - 2599 BLOCK OF SAYLES PLACE SE,400636.00,132455.00,...,38.859910,-76.992672,NaN,2020/10/12 03:00:51+00,2020/10/12 16:30:05+00,405554326,NaN,True,True,non-violent
4,-77.008394,38.897203,20092326,2020/06/24 16:37:17+00,DAY,OTHERS,MOTOR VEHICLE THEFT,1 - 99 BLOCK OF MASSACHUSETTS AVENUE NE,399272.00,136594.00,...,38.897195,-77.008392,CAPITOL HILL,2020/06/08 14:00:26+00,2020/06/24 16:38:00+00,405554339,NaN,True,False,non-violent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27928,-76.949967,38.902888,20077220,2020/05/25 17:36:27+00,DAY,OTHERS,THEFT F/AUTO,3501 - 3752 BLOCK OF HAYES STREET NE,404340.06,137226.22,...,38.902880,-76.949965,NaN,2020/05/21 11:30:46+00,2020/05/23 09:45:00+00,406078143,NaN,True,True,non-violent
27929,-77.042549,38.913366,20032785,2020/02/23 19:37:23+00,DAY,OTHERS,SEX ABUSE,1800 - 1899 BLOCK OF RIGGS PLACE NW,396310.00,138389.00,...,38.913358,-77.042547,NaN,2019/05/19 04:01:00+00,2021/08/05 20:00:00+00,406078144,NaN,False,False,non-violent
27930,-77.072434,38.934070,20035624,2020/02/28 02:21:27+00,EVENING,OTHERS,THEFT/OTHER,3300 - 3399 BLOCK OF WISCONSIN AVENUE NW,393720.00,140689.00,...,38.934062,-77.072432,NaN,2020/02/28 01:21:08+00,NaN,406078145,NaN,True,True,non-violent
27931,-76.990316,38.920156,20039182,2020/03/05 00:07:53+00,EVENING,OTHERS,THEFT/OTHER,1000 - 1249 BLOCK OF BRENTWOOD ROAD NE,400840.00,139142.00,...,38.920149,-76.990314,NaN,2020/03/04 23:27:48+00,2020/03/05 00:07:59+00,406078146,NaN,True,True,non-violent
27932,-77.021604,38.930028,20073519,2020/05/17 23:46:32+00,EVENING,OTHERS,THEFT/OTHER,500 - 699 BLOCK OF KENYON STREET NW,398127.00,140238.00,...,38.930020,-77.021601,NaN,2020/05/16 18:04:47+00,2020/05/16 22:30:04+00,406078147,NaN,True,True,non-violent

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

In [21]:
shifts = ["MIDNIGHT", "EVENING", "DAY"]

time = ["nighttime", "nighttime", "daytime"]

conversion_dict = dict(zip(shifts, time))

df["shift_recoded"] = df.SHIFT.map(conversion_dict)

df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_notmotor,offense_summary,shift_recoded
0,-76.993152,38.922219,20151779,2020/10/23 15:50:21+00,DAY,OTHERS,THEFT/OTHER,900 - 999 BLOCK OF RHODE ISLAND AVENUE NE,400594.00,139371.00,...,-76.993150,NaN,2020/10/23 14:44:29+00,2020/10/23 16:00:32+00,405553805,NaN,True,True,non-violent,daytime
1,-77.027043,38.917559,20142558,2020/10/06 01:40:16+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,2000 - 2099 BLOCK OF 11TH STREET NW,397655.00,138854.00,...,-77.027040,NaN,2020/10/05 23:33:32+00,2020/10/05 23:37:19+00,405554324,NaN,True,False,non-violent,nighttime
2,-77.049930,38.914831,20143909,2020/10/08 17:31:39+00,DAY,OTHERS,THEFT F/AUTO,2200 - 2299 BLOCK OF BANCROFT PLACE NW,395670.00,138552.00,...,-77.049927,NaN,2020/10/08 15:50:22+00,2020/10/08 15:55:53+00,405554325,NaN,True,True,non-violent,daytime
3,-76.992674,38.859917,20146720,2020/10/14 01:19:25+00,EVENING,OTHERS,THEFT F/AUTO,2500 - 2599 BLOCK OF SAYLES PLACE SE,400636.00,132455.00,...,-76.992672,NaN,2020/10/12 03:00:51+00,2020/10/12 16:30:05+00,405554326,NaN,True,True,non-violent,nighttime
4,-77.008394,38.897203,20092326,2020/06/24 16:37:17+00,DAY,OTHERS,MOTOR VEHICLE THEFT,1 - 99 BLOCK OF MASSACHUSETTS AVENUE NE,399272.00,136594.00,...,-77.008392,CAPITOL HILL,2020/06/08 14:00:26+00,2020/06/24 16:38:00+00,405554339,NaN,True,False,non-violent,daytime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27928,-76.949967,38.902888,20077220,2020/05/25 17:36:27+00,DAY,OTHERS,THEFT F/AUTO,3501 - 3752 BLOCK OF HAYES STREET NE,404340.06,137226.22,...,-76.949965,NaN,2020/05/21 11:30:46+00,2020/05/23 09:45:00+00,406078143,NaN,True,True,non-violent,daytime
27929,-77.042549,38.913366,20032785,2020/02/23 19:37:23+00,DAY,OTHERS,SEX ABUSE,1800 - 1899 BLOCK OF RIGGS PLACE NW,396310.00,138389.00,...,-77.042547,NaN,2019/05/19 04:01:00+00,2021/08/05 20:00:00+00,406078144,NaN,False,False,non-violent,daytime
27930,-77.072434,38.934070,20035624,2020/02/28 02:21:27+00,EVENING,OTHERS,THEFT/OTHER,3300 - 3399 BLOCK OF WISCONSIN AVENUE NW,393720.00,140689.00,...,-77.072432,NaN,2020/02/28 01:21:08+00,NaN,406078145,NaN,True,True,non-violent,nighttime
27931,-76.990316,38.920156,20039182,2020/03/05 00:07:53+00,EVENING,OTHERS,THEFT/OTHER,1000 - 1249 BLOCK OF BRENTWOOD ROAD NE,400840.00,139142.00,...,-76.990314,NaN,2020/03/04 23:27:48+00,2020/03/05 00:07:59+00,406078146,NaN,True,True,non-violent,nighttime
27932,-77.021604,38.930028,20073519,2020/05/17 23:46:32+00,EVENING,OTHERS,THEFT/OTHER,500 - 699 BLOCK OF KENYON STREET NW,398127.00,140238.00,...,-77.021601,NaN,2020/05/16 18:04:47+00,2020/05/16 22:30:04+00,406078147,NaN,True,True,non-violent,nighttime

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

In [22]:
df["OFFENSE_NOSP"] = df.OFFENSE.str.replace(" ", "_")

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [23]:
type(df["START_DATE"])

pandas.core.series.Series

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [24]:
df["START_DATE_CLEAN"]

KeyError: 'START_DATE_CLEAN'

In [ ]:
df["START_DATE_CLEAN"] = pd.to_datetime(df["START_DATE"], errors="coerce")
type(df["START_DATE_CLEAN"])

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [ ]:
df["START_DATE_CLEAN"].min()

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows